.navbar {
    width: 100%;
    height: var(--navbar-height);
    background: var(--inverted-bg-color);
    display: flex;
    align-items: center;
    padding: 20px;
}

.icon {
    color: var(--inverted-primary-color);
    width: 25px;
    height: 25px;
}
