.app.dark {
    --bg-color: #111235;
    --inverted-bg-color: #d8d8d8;

    --primary-color: #006d1f;
    --secondary-color: #04ff00;
    --inverted-primary-color: #0054ae;
    --inverted-secondary-color: #00aeee;
}
